$c-headline: #212B35;
$c-border: #DFE4E8;
$c-light-purple: #a498ff;
$c-purple: #614DFF;

$c-white: #fff;
$c-pale: #e5edf5;
$c-dark-gray: #212B35;
$c-light-gray: #676c71;
$c-gray-transparent: #dfe4e882;

$f-family: 'Roboto', sans-serif;

$f-regular: 400;
$f-medium: 500;
$f-bold: 700;